/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-abr-2014, 13:36:56
    Author     : raznara
*/



body {
    padding-top: 80px;
    background-image: url(../images/back.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.jumbotron {
   
    background: none;
    
}

.titulopagprincipal{
    margin-left: 10%;
}

.bordeprin{
    border: 1px solid gray;
    background-color: white;
    margin-right: 12%;
   
    
}

.panel-default>.panel-heading {
  /*  background-color:#60a917;
    color:whitesmoke;*/
}

th{
    min-width: 30px;
    color: whitesmoke;
    background-color: #9a1616;
}

.datepicker th{
    background-color: white;
    color: black;
}

.list-group-item{
    padding: 3px 8px;
}